{% extends "collegesite/base.html" %}
{% block content %}
<div class = "row">
<div class="form-style">
    <div class="container-center_div">
    <div class="info-form">
<form action = "." class = "form-inline" method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    email     <input class = "form-control" type="email"  name="email"><br><br>
    username  <input class = "form-control" type="text" name="username" ><br><br>
    password  <input class = "form-control" type="password" name="password"><br><br>
    <input class = "btn btn-default"   type="submit" value="Login">
</form>
{% endblock %}
</div>
</div>
    </div>
</div>
