{% extends "collegesite/base.html" %}
{% block content %}
<div class="row">
  <div class="form-style">
    <div class="container-center_div">
      <div class="info-form">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-md-4 col-md-offset-4">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success'%}
            <div class="alert alert-success">
              <strong>{{message}}</strong>
            </div>
            {% elif message.tags == "info"%}
            <div class='alert alert-info'>
              <strong>{{message}}</strong>
            </div>
            {% elif message.tags == "warning" %}
            <div class="alert alert-warning">
              <strong>{{message}}</strong>
            </div>
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
            <strong>{{message}}</strong>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <script>
            window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 2500);
            </script>
            <table><br>
              {% for field in form1 %}
              <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>
                  <p><br></p>
                </td>
              </tr>
              {% endfor %}<br>
            </table><br>

            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
