{% extends "collegesite/base.html" %}
{% block content %}
<form action="{% url 'collegesite:student_registartion' %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="col-md-4 col-md-offset-4">
     {% if messages %}
   {% for message in messages %}
    {{ message }}
   {% endfor %}
   {% endif %}
     <table><br>
       {% for field in form1 %}
       <tr>
         <td>{{ field.label_tag }}</td>
         <td>{{ field }}</td>
         <td><p><br></p></td>
       </tr>
       {% endfor %}<br>
       {% for field in form2 %}
       <tr>
         <td>{{ field.label_tag }}</td>
         <td>{{ field }}</td>
         <td><p><br></p></td>
       </tr>
       {% endfor %}<br>
     </table><br>


  <button type="submit">submit</button>
</form>
{% endblock %}
