{% extends "collegesite/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Name:{{stnd.name}}</p><br>
<img src="{{stnd.profilepic.url}}" ><br><br>
<p>Email:{{stnd.name.email}}</p><br>
<p>Date of Birth:{{stnd.name.dob}}</p>
<p>Gender:{{stnd.name.gender}}</p><br>
<p>Father Name:{{stnd.father}}</p><br>
<p>Mother Name:{{stnd.mother}}</p><br>
<p>Nationality:{{stnd.name.nationality}}</p>
<a href="{{stnd.name.sccmemo.url}}">SSC Memo</a><br>
<a href="{{stnd.name.intermemo.url}}">Intermediate Memo</a><br>
<p>Department:{{stnd.name.department}}</p><br>

<a href="{% url 'collegesite:staff_department' %}">staff</a>
<a href = "{% url 'collegesite:user_logout' %}">Logout</a>
</body>
{% endblock %}
</html>